body{
    margin: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

    border: 2px solid #000000;
}
th {
    font-size: 1.8em;
    border: 2px solid #000000;
}   

td{
    font-size: 1.5em;
    border: 1px solid #ffd800;
    text-align:right
    
}
/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/ 